@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    background-color: #1F2937;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0 290px 60px 290px;
    color: white;
    gap: 70px;
}

.header {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.logo {
    flex: 1;
    font-weight: bold;
    color: white;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    color: #E5E7EB;
    display: flex;
    gap: 24px;
}

.main {
    flex: 2;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    gap: 20px;
}

.content {
    flex: 1 1 100%;
    font-size: 18px;
    text-align: left;
    color: #E5E7EB;
}

.content h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.image {
    flex: 1 1 100%;
    background-color: rgb(121, 134, 158);
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .sign-up-btn {
    padding: 8px 28px;
    background-color: #3882F6;
    color: inherit;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: inherit;
}

.content .sign-up-btn:hover {
    background-color: #1c6dee;
}

.cards-container {
    padding: 40px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container h2 {
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.card {
    width: 9vw;
    height: 28vh;
    display: flex;
    flex-direction: column;
}

.box {
    border: 3px solid #1c6dee;
    border-radius: 10px;
    flex: 1;
}

.card-content {
    text-align: center;
    color: #40444b;
}

.quote {
    background-color: #E5E7EB;
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 440px;
    
}

.quote .quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote .quote-author {
    font-weight: bold;
    text-align: right;
    padding-right: 80px;
}

.sign-up-container {
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 200px;
}

.sign-up-text {
    background-color: #3882F6;
    color: white;
    display: flex;
    align-items: center;
    padding: 30px 100px;
    border-radius: 7px;
}

.sign-up-text .left {
    flex: 1;
}

.sign-up-text .left .prompt-text {
    font-weight: bold;
    font-size: 20px;
}

.right .sign-up-btn {
    padding: 8px 28px;
    background-color: #3882F6;
    color: inherit;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 6px;
    font-size: inherit;
}

.right .sign-up-btn:hover {
    background-color: #4689f5;
}

footer {
    background-color: #1F2937;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}